*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.isi{

    width: 30%;
    height: 80vh;
    border: 1px solid #DFDFDF;
}


.nama{
    margin-top: 50px;
    width: 100%;
    height: 50px;
   
}
.ussername{
    margin-top: 20px;
    width: 100%;
    height: 50px;
   
}
.dalam{
    margin-left: 20px;
}

.dalam h1{
    margin-top: 20px;
    font-size: 20px;
}
.nama p{
    font-weight: bold;
}

.pass{
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
.pass p{
    font-weight: bold;
}

.nama input{
    width: 40%;
    height: 30px;
    padding-left: 10px;
    border: 2px solid #E5E5E5;
    border-radius: 10px;
}
.ussername input{
    width: 85%;
    height: 30px;
    padding-left: 10px;
    border: 2px solid #E5E5E5;
    border-radius: 10px;
}

.pass input{
    width: 85%;
    height: 30px;
    padding-left: 10px;
    border: 2px solid #E5E5E5;
    border-radius: 10px;
}

.submit input{
    background-color: rgb(37, 124, 255);
    margin-top: 20px;
    margin-left: 15px;
    width: 80%;
    height: 40px;
    color: white;

    border:  none;
    border-radius: 10px;
}

input:hover{
    cursor: pointer;
}
.register{
    margin-top: 20px;
    display: flex;
    margin-left: 20%;
}

.register a{
    margin-left: 10px;
    text-decoration: none;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile{
    width: 50%;
    height: 80vh;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.prof-anda{
    width: 100%;
    height: 50px;
    background-color: rgb(37, 124, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
}

.prof-anda p{
    color: white;
    font-size: 20px;
    margin-left: 50px;
}

.conta{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center     ;    
}

