*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 250vh;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile{
    width: 50%;
    height: 210vh;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-radius: 20px;
}

.prof-anda{
    width: 100%;
    height: 50px;
    background-color: rgb(37, 124, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
}

.prof-anda p{
    color: white;
    font-size: 20px;
    margin-left: 50px;
}

.nama{
    margin-top: 10px;
    margin-left: 50px;
    font-size: 18px;

    display: flex;
}

.nama p{
    font-weight: bolder;
}

.fotoprof{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotonya{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgb(203, 203, 203);
}


.nama h4{
    margin-left: 15px;
    font-size: 18px;
    font-weight: normal;
}



button{
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(28, 138, 255);
    color: white;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
}


button:hover{
    cursor: pointer;
    background-color: rgb(77, 163, 255);
}


.logout{
    margin-top: 40px;
    display: flex;
}

.namadpn{
    margin-top: 40px;
    width: 100%;
    height: 50px;
    margin-left: 40px;
    
}

.namadpn input{
    width: 350px;
    height:35px;
    padding-left: 10px;
    border: none;
    background-color: whitesmoke;
    border-radius: 10px;
}

/*  */
.namadpn1{
    margin-top: 70px;
    width: 100%;
    height: 50px;
    margin-left: 40px;
    
}
.namadpn2{
    margin-top: 70px;
    width: 100%;
    height: 50px;
    margin-left: 40px;
    
}
.namadpn2 input:checked{
    
}

.namadpn1 textarea{
    width: 350px;
    height:100px;
    padding-left: 10px;
    border: none;
    background-color: whitesmoke;
    border-radius: 10px;
}
.namadpn1 input{
    width: 350px;
    height:35px;
    padding-left: 10px;
    border: none;
    background-color: whitesmoke;
    border-radius: 10px;
}


.namadpn textarea{
    padding-top: 10px;
    width: 350px;
    height:85px;
    padding-left: 10px;
    border: none;
    background-color: whitesmoke;
    border-radius: 10px;
}

.logout input{
    background-color: rgb(28, 138, 255);
    width: 150px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 100px;

}

.foro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout:hover input{
    background-color: rgb(78, 163, 255);
    cursor: pointer;
}