*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile{
    width: 50%;
    height: 80vh;
    background-color: white;
border-radius: 20px;
}

.prof-anda{
    width: 100%;
    height: 50px;
    background-color: rgb(37, 124, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
}

.prof-anda p{
    color: white;
    font-size: 20px;
    margin-left: 50px;
}

.nama{
    margin-top: 10px;
    margin-left: 50px;
    font-size: 18px;

    display: flex;
}

.nama p{
    font-weight: bolder;
}

.fotoprof{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotonya{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgb(203, 203, 203);
}


.nama h4{
    margin-left: 15px;
    font-size: 18px;
    font-weight: normal;
}



button{
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
}


button:hover{
    cursor: pointer;
    background-color: rgb(255, 65, 65);
}


.logout{
    display: flex;
}

button:nth-child(2) {
    background-color: rgb(28, 138, 255);
}

button:nth-child(2):hover {
    background-color: rgb(77, 163, 255);
}


.form{
    background-color: aliceblue;
    border-top: 1px solid rgb(124, 124, 124);
    border-bottom: 1px solid rgb(124, 124, 124);
    
}