* {
    padding: 0;
    margin: 0;

}





.nav-link {
    height: 60px;
    padding: 0;
    margin: 0;
}

.rat{
    position: absolute;
    margin-left: 50%;
    margin-top: 30px;
    display: flex;

}

.rat p:nth-child(2){
    margin-left: 10px;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #654F3F;
    display: flex;
    justify-content: center;
    align-items: center;

}


.nav-link {
    height: 60px;
    margin-top: 30px;
    width: 100%;
    margin-left: 20px;
}


.nav-link a {
    text-decoration: none;
    color: white;
    width: 100px;

    margin-left: 50px;
}


.gambar {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background-color: #ccc;
    margin-right: 10px;
  }


  .profile {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    width: 200px;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
}

.isibuk{
    width: 100%;
    height: 90vh;
    background-color: #412624  ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lebihisi{
    width: 85%;
    height: 90vh;
    background-color: #c9b88b;
    border-left: 10px solid #8B785B;
    border-right: 10px solid #8b785b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}







.ingpo{
    background-color: #BAAA80;
    border: #412624 2px solid;
    width: 90%;
    height: 180px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.ingpo img{
    width: 140px;
    height: 140px;
    margin-left: 15px;
    background-color: gray;
    object-fit: cover;
    display: block;

}

.author{
    display: flex;
}


.isin{
    height: 100px;
    margin-left: 20px;
}

.desk{
    margin-top: 20px;
    display: flex;
}

.desk h4{
    width: 100px;
}

.author h4{
    width: 80px;
}

.bca button{
    width: 120px;
    height: 35px;
}


.buat{
    margin-bottom: 290px;
    width: 90%;
    height: 50px;
    background-color: #BAAA80;
    border: #412624 2px solid;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
}

.rating{
    margin-left: 20px;
}




#ratingForm{
    position: absolute;

    margin-bottom: 350px;
    width: 76.5%;
    height: 150px;
    background-color: #F0F0F0;
    border-top: 1px solid black;
    display: flex;
    top: 310px;
    align-items: center;
}



.buat a{
    width: 140px;
    height: 30px;
    background-color: #215D99;
}


.btnn{
    margin-left: 50px;
}

.stars{
    display: flex;
    justify-content: center;
    
    padding: 20px 0;
}



.stars input{

    display: none;
}

.stars label{
    display: inline-block;
    font-size: 2em;
    color: #ddd;
}

.stars input:checked ~ label {
    color: #f5b301;
}

.stars input:hover ~ label{
    color: #ffcf00;
}

.rating button{
    width: 120px;
    height: 25px;
    margin-left: 20px;
    border-radius: 10px;
    border: none;
    background-color: #4594e3;
    color: white;
}

.rating button:hover{
    cursor: pointer;
}

.btnn button{
    width: 130px;
    height: 30px;
    border-radius: 10px;
    background-color: #654F3F;
    color: white;
    border: 2px solid #412624;
}
.btnn button:nth-child(2){
    width: 130px;
    height: 30px;
    border-radius: 10px;
    background-color: #654F3F;
    color: white;
    border: 2px solid #412624;
}
.btnn button:nth-child(3){
    width: 130px;
    height: 30px;
    border-radius: 10px;
    background-color: #654F3F;
    color: white;
    border: 2px solid #412624;
}

.btnn button:hover{
    cursor: pointer;
    background-color: #8B785B;
    border: 2px solid #412624;
    transition: 0.5s;
}
